<ion-view view-title="Product Details">
  <ion-content>
  <div class="list card">

  <div class="item item-avatar">
    <img ng-src="http://android.par-ken.com/healthyalsi/product/patato.jpg">
    <h2>Product Name</h2>
    <p>500 gm</p>
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="http://android.par-ken.com/healthyalsi/product/patato.jpg">
      <div class="item tabs tabs-secondary">
      <a class="tab-item" href="#">
      	<span style="font-size:13px"><b>Rs. 560.0</b></span>
      </a>
    <a class="tab-item" href="#">
     <img style="margin-top:25%" class="mybtn" src="http://android.par-ken.com/healthyalsi/img/sub.png">
    </a>
    <a class="tab-item" href="#">
      <span style="font-size:13px"><b>2</b></span>
    </a>
    <a class="tab-item" href="#">
      <img style="margin-top:25%" ng-click="addproduct({{product.id}})" class="mybtn" 
                src="http://android.par-ken.com/healthyalsi/img/add.png">
    </a>
  </div>
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
   
  </div>

 
</div>
  </ion-content>
</ion-view>
