<ion-view view-title="Shipping">
  <ion-content>
  <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Full Name</span>
    <input type="text" placeholder="John">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Mobile</span>
    <input type="text" placeholder="8440044566">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@healthy.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">City</span>
    <input type="text" value="Jaipur">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Address</span>
    <TEXTAREA rows="3" placeholder="s-2 first flor,shopping center,Tilak Nagar,Raja park-302004"></TEXTAREA> 
  </label>
  <button class="button button-full button-positive">
  Submit 
</button>
</div>
  </ion-content>
  </ion-view>