<ion-view view-title="Shipping">
  <ion-content>
  <div class="card">
  <div class="item item-divider">
    Shipping Address
  </div>
  <div class="item item-text-wrap">
    s-2 first flor,shopping center,Tilak Nagar,Raja park-302004
  </div>
  
</div>
<div class="list card">
  <div class="item item-divider">
    Order Details
  </div>
  <div class="item">
    <label>Total Items : 5</label>
  </div>
   <div class="item">
    <label>Total Discount :Rs.  10</label>
  </div> <div class="item">
    <label>Delivery Charge : Rs. 50</label>
  </div> <div class="item">
    <label>Total Paybale : 500</label>
  </div>
</div>
  </ion-content>
  </ion-view>