<ion-view view-title="Checkout">
  <ion-content>
    <div>
      <div class="myitem">
        
          <div class="itemimg"><img style="width:98%;height:65px" ng-src="http://android.par-ken.com/healthyalsi/product/patato.jpg">
          </div>
       
        <div class="itemdata">
          <div class="itemname">
            <b>Product Name</b>
          </div>
          <div class="itemdetals">
            <div class="itemdes">
              <p>500 gm</p>
              <p><b>Rs. 400 X 3</b> </p>
            </div>
            <div class="itemaction">
             Rs 1200.0
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>